a.fc-daygrid-day-number {
  text-decoration: none;
}

th.fc-col-header-cell a {
  text-decoration: none;
}

th.fc-day-sat a.fc-col-header-cell-cushion {
  color: red;
}
th.fc-day-sun a.fc-col-header-cell-cushion {
  color: red;
}